
body {
  min-width: 357px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}
.content-wrap{
  width: 100%;
  padding: 10px;
}
.content-field{
  display: block;
  width: 100%;
  min-height: 100px;
  outline: none;
  resize: none;
}